%h1 Find stuff to do
%table
  %thead
    %th Who needs help?
    %th Who cares about it?
    %th What can you do?
  %tbody
    - @incentives.each do |incentive|
      %tr
        %td
          = link_to incentive.action.name, incentive.action
        %td
          = incentive.name
        %td
          = link_to "I'll do it", incentive
          or
          = link_to "I'll offer a reward"
