.new
  = link_to "Create a new Cause", new_cause_path

-@causes.each do |cause|
  .cause
    = link_to cause.name, incentives_path(:cause_id => cause.id)
    = render :partial => "shared/vote", :locals => {:target => cause}
    .clear
